<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-eaten="{{eat}}">
		{{#if eat}}DEVOUR{{else}}MAKE ANOTHER ONE{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE BURGER</button>
</li>
